{% extends "base.html" %}

{% block title %}Новый пароль{% endblock %}

{% load static %}
{% block static %} <link rel="stylesheet" href="{% static 'pages/index.css' %}"> {% endblock %}

{% block content %}

  <div class="custom-center-block">
    <p class="custom-text-block">Новый пароль сохранён</p>
    <div class="custom-button-block">
      <form action="{% url 'login' %}">
        <button class="button button_style_blue">Войти на сайт</button>
      </form>
    </div>
  </div>

{% endblock %}
