{% extends "base.html" %}

{% load static %}
{% block static %} <link rel="stylesheet" href="{% static 'pages/index.css' %}"> {% endblock %}

{% block content %}
  {% csrf_token %}

  <div class="main__header">
    <h1 class="main__title">Рецепты</h1>
    <ul class="tags">
      {% for tag in all_tags %}
        <li class="tags__item">
          <a id="{{ tag.slug }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }} tags__checkbox_active" href="#"></a>
          <span class="tags__label">{{ tag.name }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="card-list">

    {% for recipe in recipes %}
      <div class="card" data-id="{{ recipe.id }}">
        <a href="#" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="Какой-то текст"
                                                      class="card__image"></a>
        <div class="card__body">
          <a class="card__title link" href="{% url 'recipe' recipe.id %}" target="_blank">{{ recipe.title }}</a>
          <ul class="card__items">
            {% for tag in recipe.tags.all %}
              <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
            {% endfor %}
          </ul>
          <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span>{{ recipe.cooking_time }}</p>
            <p class="card__text"><span class="icon-user"></span>
              <a href="#" style="color: black">{{ recipe.author.first_name }} {{ recipe.author.last_name }}</a>
            </p>
          </div>
      </div>
      <div class="card__footer">
        {% if recipe.is_purchase %}
          <button class="button button_style_light-blue-outline" name="purchases">
            <span class="icon-check button__icon"></span> Рецепт добавлен
          </button>
        {% else %}
          <button class="button button_style_light-blue" name="purchases" data-out>
            <span class="icon-plus button__icon"></span>Добавить в покупки
          </button>
        {% endif %}

        {% if user.is_authenticated %}
          {% if recipe.is_favorite %}
            <button class="button button_style_none" name="favorites">
              <span class="icon-favorite icon-favorite_active"></span>
            </button>
          {% else %}
            <button class="button button_style_none" name="favorites" data-out>
              <span class="icon-favorite"></span>
            </button>
          {% endif %}
        {% endif %}
      </div>
      </div>
    {% endfor %}

  </div>
  <nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
      <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-left"></span></a></li>
      <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">1</a></li>
      <li class="pagination__item"><a class="pagination__link link" href="#">2</a></li>
      <li class="pagination__item"><a class="pagination__link link" href="#">3</a></li>
      <li class="pagination__item"><a class="pagination__link link" href="#">4</a></li>
      <li class="pagination__item"><a class="pagination__link link" href="#">5</a></li>
      <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-right"></span></a></li>
    </ul>
  </nav>

{% endblock %}

{% if user.is_authenticated %}
  {% block js %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>

    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'indexAuth.js' %}"></script>
  {% endblock %}
{% endif %}
