{% extends "base.html" %}

{% block title %}Мои подписки{% endblock %}
{% load static %}
{% block static %}
  <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}"> {% endblock %}

{% block content %}
  {% csrf_token %}

  <div class="main__header">
    <h1 class="main__title">Мои подписки</h1>
  </div>

  <div class="card-list">
    {% for author in authors %}

      <div class="card-user" data-author="{{ author.id }}">
        <div class="card-user__header">
          <h2 class="card-user__title">{{ author.first_name }} {{ author.last_name }}</h2>
        </div>
        <div class="card-user__body">
          <ul class="card-user__items">

            {% for recipe in author.recipes.all %}
              {% if forloop.counter < 4 %}
                <li class="card-user__item">
                  <div class="recipe">
                    <img src="{{ recipe.image.url }}" alt="какой-то-текст" class="recipe__image">
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span>{{ recipe.cooking_time }}</p>
                  </div>
                </li>
              {% endif %}
            {% endfor %}

            <li class="card-user__item">
              <a href="{% url 'profile' author.username %}" class="card-user__link link">
                {% if author.recipes_count > 3 %}
                  Еще {{ author.recipes_count|add:'-3' }} рецептов...
                {% else %}
                  Перейти к профилю
                {% endif %}
              </a>
            </li>
          </ul>
        </div>
        <div class="card-user__footer">
          <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
      </div>

    {% endfor %}
  </div>

{% endblock %}

{% block js %}
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/MyFollow.js' %}"></script>
  <script src="{% static 'js/components/Subscribe.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'myFollow.js' %}"></script>
{% endblock %}
